@charset "UTF-8";

@mixin ng-animation-transition {
    transition: 500ms;
}

@mixin box-shadow($color: #000000, $spread-radius: 0, $blur-radius: 0, $offset-x: 0, $offset-y: 0, $inset: '') {
    box-shadow: #{$inset} $offset-x $offset-y $blur-radius $spread-radius $color;
}

@mixin loading-mask {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
