<div style="z-index: {{nZIndex + 1}};" class="k-dialog k-dialog-{{sSize}}" ng-class="aDialogClasses">
    <section class="k-dialog-content" ng-include="sTemplateUrl">
        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>
    </section>
    <div class="k-dialog-close-btn" ng-if="bShowCloseBtn !== 'false'" ng-click="close()">
    </div>
    <div class="loading-mask"></div>
    <div class="loading-icon"></div>
</div>
<div style="z-index: {{nZIndex}};" class="k-dialog-mask"></div>

