<div class="k-dialog k-dialog-{{sSize}}">
    <section class="k-dialog-content" ng-include="sTplUrl">
        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>

        <p>Welcom to the k-dialog!</p>
    </section>
    <div class="k-dialog-close-btn" ng-if="bShowCloseBtn !== 'false'" ng-click="closeDialog($event)">
    </div>
    <div class="loading-mask"></div>
    <div class="loading-icon"></div>
</div>
<div class="k-dialog-mask"></div>

