@charset "UTF-8";

@import "includes/mixins";

.k-cards-box {
    padding: 0;
    position: relative;
}

.k-header-bar {

}

.k-cards-list {
    list-style: none;
    padding: 15px;
}

.k-card {
    @include border-all-radius(3px);
    @include transition(box-shadow 200ms);
    @include default-box-shadow(#888, 1px, 1px);
    display: inline-block;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.k-card:hover {
    @include default-box-shadow(#888, 5px, 5px);

    .k-card-toolbar {
        bottom: 0;
    }
}

.k-card-container {
    bottom: 10px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.k-card-toolbar {
    @include transition(bottom 200ms);
    background-color: #AAA;
    bottom: -30px;
    display: inline-block;
    height: 30px;
    left: 0;
    opacity: 0.5;
    padding: 3px;
    position: absolute;
    right: 0;
    z-index: 10;
}

.k-footer-bar {

}

.loading-mask {
    @include loading-mask();
    background-color: #FFFFFF;
    opacity: 0.5;
    z-index: 1500;
}

.loading-icon {
    @include loading-mask();
    background: {
        color: transparent;
        image: url('images/loading.png');
        position: 50%;
        repeat: no-repeat;
    }
    z-index: 1501;
}

/* Cards animation start */
.k-card.ng-enter {
    @extend .ng-animation-transition;
    opacity: 0;
}

.k-card.ng-enter.ng-enter-active {
    opacity: 1;
}

.k-card.ng-leave {
    @extend .ng-animation-transition;
    opacity: 1;
}

.k-card.ng-leave.ng-leave-active {
    opacity: 0;
}

.k-card.ng-move {
    @extend .ng-animation-transition;
    opacity: 0;
}

.k-card.ng-move.ng-move-active {
    opacity: 1;
}
/* Cards animation end */
