@charset "UTF-8";

@mixin default-box-shadow($color: #000000, $spread-radius: 0, $blur-radius: 0, $offset-x: 0, $offset-y: 0) {
    box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}

@mixin inset-box-shadow($color: #000000, $spread-radius: 0, $blur-radius: 0, $offset-x: 0, $offset-y: 0) {
    box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
}

@mixin mask() {
    bottom: 0;
    display: none;
    left: 0;
    right: 0;
    top: 0;
}

@mixin centered-dialog($height, $width) {
    height: $height;
    left: 50%;
    margin: {
        bottom: 0;
        left: -$width / 2;
        right: 0;
        top: -$height * 3 / 5;
    }
    top: 50%;
    width: $width;
}

@function invert($percentage) {
    @return #{'invert(' + $percentage + ')'};
}
