@charset "UTF-8";

@import "includes/mixins";

.k-dialog {
    @include default-box-shadow(#888888, 3px, 3px);
    border-radius: 5px;
    display: none;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    transform-origin: 100% 0;
    vertical-align: middle;
    z-index: 1501;
}

.k-dialog.large {
    @include centered-dialog(480px, 780px);
}

.k-dialog.medium {
    @include centered-dialog(380px, 620px);
}

.k-dialog.small {
    @include centered-dialog(280px, 460px);
}

.k-dialog.mini {
    @include centered-dialog(180px, 300px);
}

.k-dialog-content {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.k-dialog-close-btn {
    transition: opacity 300ms, filter 200ms;
    background: {
        color: #888888;
        image: url('images/glyphicons-208-remove-2.png');
        position: 65% 35%;
        repeat: no-repeat;
        size: 12px 12px;
    }
    border-bottom-left-radius: 30px;
    cursor: pointer;
    height: 30px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.k-dialog-close-btn:hover {
    filter: invert(100%);
}

.k-dialog-close-btn:focus {
    filter: none;
}

.k-dialog:hover {

    > .k-dialog-close-btn {
        opacity: 0.7;
    }
}

.k-dialog:hover.k-dragging {

    > .k-dialog-close-btn {
        opacity: 0;
    }
}

.k-dialog-mask {
    @include mask();
    background-color: #FFFFFF;
    opacity: 0.7;
    position: fixed;
    z-index: 1500;
}

.loading-mask {
    @include mask();
    position: absolute;
    background-color: #FFFFFF;
    opacity: 0.7;
    z-index: 1500;
}

.loading-icon {
    @include mask();
    background: {
        color: transparent;
        image: url('images/loading.png');
        position: 50%;
        repeat: no-repeat;
        size: 40px 40px;
    }
    position: absolute;
    z-index: 1501;
}